.espacio {
 margin-top: .5em;
  margin-bottom: .5em;
}
.espacio1 {
 margin-top: 2.5em;
  margin-bottom: 2.5em;
}

.espacio2 {
 margin-top: 1.5em;
  margin-bottom: 5.5em;
}
.espacio3 {
 margin-top: 2.3em;}

.texto{
 text-align: center
}

